<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color: #fdc3d3;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="row">
                <div class="col-3 float-start">
                    <div class="ms-5 mt-1" style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden;">
                        <img src="gambar/1.jpg" alt=""width="100%">
                    </div>
                </div>
                <div class="col-9 float-end">
                    <h5 class="mt-3 ms-5" style="color: #f7094a; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Beauty Store**</h5>
                </div>
            </div>
        </a>
        <div class="float-end">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-3">
                <li class="nav-item dropdown">
                    <i class="fa-solid fa-display d-block text-center" style="color: #de0843;"></i>
                    <a class="nav-link fw-medium" style="color: #de0843; font-size: 18px; font-family: sans-serif;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Transaksi
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <i class="fa-solid fa-bag-shopping d-block text-center" style="color: #de0843;"></i>
                    <a class="nav-link fw-medium" style="color: #de0843; font-size: 18px; font-family: sans-serif;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Data Produk
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <i class="fa-solid fa-box-open d-block text-center" style="color: #de0843;"></i>
                    <a class="nav-link fw-medium" style="color: #de0843; font-size: 18px; font-family: sans-serif;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Kategori
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <i class="fa-solid fa-chart-bar d-block text-center" style="color: #de0843;"></i>
                    <a class="nav-link fw-medium" style="color: #de0843; font-size: 18px; font-family: sans-serif;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Data Laporan
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <i class="fa-solid fa-gears d-block text-center" style="color: #de0843;"></i>
                    <a class="nav-link fw-medium" style="color: #de0843; font-size: 18px; font-family: sans-serif;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Pengaturan
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <i class="fa-solid fa-right-from-bracket d-block text-center" style="color: #de0843;"></i>
                    <a class="nav-link fw-medium" style="color: #de0843; font-size: 18px; font-family: sans-serif;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Keluar
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-flex justify-content-center align-items-center">
    <div class="" style="height: 82vh;">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="width: 15px; height: 15px; border-radius: 100%;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" class="mx-2" style="width: 15px; height: 15px; border-radius: 100%;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="width: 15px; height: 15px; border-radius: 100%;"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="1000">
                    <div class="" style="width: 1366px; height: 520px;">
                        <img src="gambar/5.jpg" class="d-block w-100" style=" object-fit: cover; height: 100%; width: 100%;" alt="...">
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <div class="" style="width: 1366px; height: 520px;">
                        <img src="gambar/6.jpg" class="d-block w-100" style=" object-fit: cover; height: 100%; width: 100%;" alt="...">
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="1000">
                    <div class="" style="width: 1366px; height: 520px;">
                        <img src="gambar/7.jpg" class="d-block w-100" style=" object-fit: cover; height: 100%; width: 100%;" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 pt-2" style="height: 97vh;">
    <h3 class="text-center py-4 mb-3">Sambutan Rektor Pada Mahasiswa UPMG</h3>
    <div class="row">
        <div class="col-5 ">
            <div class="float-start d-flex justify-content-end">
                <div class="col-5">
                    <img src="gambar/8.jpg" style="width: 100%;" alt="">
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="float-end">
                <div class="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae id corrupti rerum voluptatibus saepe deleniti quo. Minima distinctio accusamus beatae, enim sint autem, unde et consequuntur similique sapiente, consequatur recusandae.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, ullam molestias eaque incidunt obcaecati ipsam voluptate facere, necessitatibus iste, aperiam libero possimus velit. Repellendus minima nemo, adipisci odio corrupti culpa.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quod dolore, necessitatibus quo molestiae sint reiciendis, atque voluptate fugit sapiente iure placeat eos ratione fuga consequatur officiis repellendus reprehenderit tenetur?
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center my-4">
        <button type="submit" class="btn p-2 mb-4" style="background-color: #f70932; color: #fdc3d3;">Selengkapnya</button>
    </div>
</div>

<div class="container-fluid d-flex" style="background-color: #f9d9e6; height: 97vh;">
    <div class="">
        <h3 class="text-center" style="position: relative; top: 60px; left: 650px;">BERITA</h3>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="">
            <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators" style="position: relative; top: 440px;">
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="width: 15px; height: 15px; border-radius: 100%; background-color: red;"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2" class="mx-2" style="width: 15px; height: 15px; border-radius: 100%; background-color: red;"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3" style="width: 15px; height: 15px; border-radius: 100%; background-color: red;"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="1000">
                    <div class="d-flex justify-content-center">
                        <div class="row col-10 d-flex justify-content-center">
                            <div class="col-3 d-flex justify-content-center">
                            <div class="card">
                                <img src="gambar/married.jpg" class="card-img-top d-block" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Mencoba lupakan Mas Galuh!!! Mantan ini memilih menikah supaya bisa cepat move on.</p>
                                    <div class="text-center">
                                        <button class="btn btn-warning"><a href="" class="text-white text-decoration-none">Selengkapnya</a></button>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-3 d-flex justify-content-center mx-3">
                            <div class="card">
                                <img src="gambar/cp.jpg" class="card-img-top d-block w-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Dendam! Seorang mantan Mas Galuh berpacaran dengan Mr A yang diduga sahabat dekat Mas Galuh.</p>
                                    <div class="text-center">
                                        <button class="btn btn-warning"><a href="" class="text-white text-decoration-none">Selengkapnya</a></button>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-3 d-flex justify-content-center">
                            <div class="card">
                                <img src="gambar/dp.jpg" class="card-img-top d-block w-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Gara-gara putus cinta sehingga depresi seorang mantan Mas Galuh memakan kotoran sapi.</p>
                                    <div class="text-center">
                                        <button class="btn btn-warning"><a href="" class="text-white text-decoration-none">Selengkapnya</a></button>
                                    </div>
                                </div>
                            </div>
                            </div>

                        </div>
                    </div>
                    </div>
                    
                    <div class="carousel-item" data-bs-interval="1000">
                    <div class="d-flex justify-content-center">
                        <div class="row col-10 d-flex justify-content-center">
                            <div class="col-3 d-flex justify-content-center">
                            <div class="card ">
                                <img src="gambar/married.jpg" class="card-img-top d-block w-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Top 7 wanita yang sedang dekat dengan Mas Galuh.</p>
                                    <div class="text-center">
                                        <button class="btn btn-warning"><a href="" class="text-white text-decoration-none">Selengkapnya</a></button>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-3 d-flex justify-content-center mx-3">
                            <div class="card">
                                <img src="gambar/cp.jpg" class="card-img-top d-block w-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Top 5 outfit yang wajib ditiru dari Mas Galuh</p>
                                    <div class="text-center">
                                        <button class="btn btn-warning"><a href="" class="text-white text-decoration-none">Selengkapnya</a></button>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-3 d-flex justify-content-center">
                            <div class="card">
                                <img src="gambar/dp.jpg" class="card-img-top d-block w-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Top 3 outfit wanita yang membuat Mas Galuh lemes.</p>
                                    <div class="text-center">
                                        <button class="btn btn-warning"><a href="" class="text-white text-decoration-none">Selengkapnya</a></button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="carousel-item" data-bs-interval="1000">
                    <div class="d-flex justify-content-center">
                        <div class="row col-10 d-flex justify-content-center">
                            <div class="col-3 d-flex justify-content-center">
                            <div class="card">
                                <img src="gambar/married.jpg" class="card-img-top d-block w-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Wow!! Ini dia 10 kriteria wanita yang disukai Mas Galuh.</p>
                                    <div class="text-center">
                                        <button class="btn btn-warning"><a href="" class="text-white text-decoration-none">Selengkapnya</a></button>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-3 d-flex justify-content-center mx-3">
                            <div class="card">
                                <img src="gambar/cp.jpg" class="card-img-top d-block w-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Wadaw!! Ini dia 4 mantan yang sulit dilupakan Mas Galuh.</p>
                                    <div class="text-center">
                                        <button class="btn btn-warning"><a href="" class="text-white text-decoration-none">Selengkapnya</a></button>
                                    </div>
                                </div>
                            </div>
                            </div>

                            <div class="col-3 d-flex justify-content-center">
                            <div class="card">
                                <img src="gambar/dp.jpg" class="card-img-top d-block w-100" alt="...">
                                <div class="card-body">
                                    <p class="card-text">Pilu! Kisah cinta pertama Mas Galuh pernah hohehohe dan akhirnya ditinggal.</p>
                                    <div class="text-center">
                                        <button class="btn btn-warning"><a href="" class="text-white text-decoration-none">Selengkapnya</a></button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="height: 97vh;">
    <h3 class="text-center d-flex align-items-center justify-content-center" style="height: 25vh;">AGENDA</h3>
    <div class="d-flex justify-content-center">
        <div class="row col-9 mt-5">
        <div class="col-4">
            <div class="row">
                <div class="float-start col-3 text-white" style="background-color: #e24380; width: 120px; height: 120px;">
                    <div class="text-center mt-2">
                        <span class="fs-4 fw-medium">27</span>
                        <span class="d-block fs-5">Apr</span>
                        <span class="d-block">Senin</span>
                    </div>
                </div>
                <div class="float-end col-7">Kunjungan Presiden Untuk Meresmikan Gedung 3 UPMG</div>
            </div>
        </div>

        <div class="col-4">
            <div class="row">
                <div class="float-start col-3 text-white" style="background-color: #e24380; width: 120px; height: 120px;">
                    <div class="text-center mt-2">
                        <span class="fs-4 fw-medium">2</span>
                        <span class="d-block fs-5">Mei</span>
                        <span class="d-block">Sabtu</span>
                    </div>
                </div>
                <div class="float-end col-7">Sidang Terbuka UPMG Ketika Tahun Akademik 2020/2021</div>
            </div>
        </div>

        <div class="col-4">
            <div class="row">
                <div class="float-start col-3 text-white" style="background-color: #e24380; width: 120px; height: 120px;">
                    <div class="text-center mt-2">
                        <span class="fs-4 fw-medium">18</span>
                        <span class="d-block fs-5">Mei</span>
                        <span class="d-block">Rabu</span>
                    </div>
                </div>
                <div class="float-end col-7">Perayaan Hari Jadi UPMG dan Mas Galuh</div>
            </div>
        </div>
        <div class="text-center d-flex align-items-center justify-content-center" style="height: 50vh;">
            <button type="submit" class="btn btn-warning">Selengkapnya</button>
        </div>
    </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4 border">
            <div class="text-center">
                <img src="gambar/6.jpg" style="border-radius: 50%; width: 200px; height: 200px;" alt="">
                <h5 class="mt-3">Universitas Pecinta Mas Galuh</h5>
                <h5>I Love You</h5>
            </div>
        </div>
        <div class="col-4 border">
            <h5 class="mt-3">Universitas Pecinta Mas Galuh</h5>
            <h5>Cirebon, Jawa Barat 41587</h5>
            <h5>Indonesia</h5>
            <h6 class="mt-5"><i class="fa-regular fa-envelope"></i><a href="" class="text-decoration-none text-dark ms-2">cinta@upmg.ac.id</a></h6>
            <h6 class=""><i class="fa-solid fa-phone"></i> 021-0935889 / +62 853 78294071</h6>            
            <h6 class=""><i class="fa-brands fa-whatsapp fs-5"></i><a href="" class="ms-lg-2 text-decoration-none text-dark">Whatsapp</a></h6>
            <div class="text-center mt-2">
                <i class="fa-brands fa-linkedin-in"></i> <i class="fa-brands fa-instagram mx-2"></i> <i class="fa-brands fa-twitter me-2"></i> <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
        <div class="col-4">
            <a href="" class="d-block text-decoration-none text-dark fs-5 fw-medium">Fasilitas</a>
            <a href="" class="d-block text-decoration-none text-dark fs-5 fw-medium">Mitra</a>
            <a href="" class="d-block text-decoration-none text-dark fs-5 fw-medium">Karir</a>
        </div>
    </div>
</div>

</body>
</html>