<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaksi</title>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="jquery/jquery.js"></script>
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <style>
        @font-face {
            font-family: "ptsans";
            src: url(font/PTSans-Regular.ttf);
            font-family: ptsans;
        }
    </style>
</head>
<body style="font-family: ptsans;">
    <nav class="navbar navbar-expand-lg" style="background-color: #fdc3d3;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <div class="row">
                <div class="col-3 float-start">
                    <div class="ms-5 mt-1" style="width: 50px; height: 50px; border-radius: 50%; overflow: hidden;">
                        <img src="gambar/1.jpg" alt=""width="100%">
                    </div>
                </div>
                <div class="col-9 float-end">
                    <h5 class="mt-3 ms-5 fw-bold" style="color: #f7094a;">Beauty Store**</h5>
                </div>
            </div>
        </a>
        <div class="float-end me-5 pe-3">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-3">
                <li class="nav-item">
                    <i class="fa-solid fa-display d-block text-center" style="color: #de0843;"></i>
                    <a href="transaksi.html" class="nav-link fw-semibold" style="color: #de0843;" role="button" aria-expanded="false">
                        Transaksi
                    </a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-bag-shopping d-block text-center" style="color: #de0843;"></i>
                    <a href="produk.html" class="nav-link fw-semibold" style="color: #de0843;" href="#" role="button" aria-expanded="false">
                    Data Produk
                    </a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-box-open d-block text-center" style="color: #de0843;"></i>
                    <a href="kategori.html" class="nav-link fw-semibold" style="color: #de0843;" href="#" role="button" aria-expanded="false">
                    Kategori
                    </a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-chart-bar d-block text-center" style="color: #de0843;"></i>
                    <a href="laporan.html" class="nav-link fw-semibold" style="color: #de0843;" href="#" role="button" aria-expanded="false">
                    Data Laporan
                    </a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-gears d-block text-center" style="color: #de0843;"></i>
                    <a href="pengaturan.html" class="nav-link fw-semibold" style="color: #de0843;" href="#" role="button" aria-expanded="false">
                    Pengaturan
                    </a>
                </li>
                <form>
                    <li class="nav-item">
                        <i class="fa-solid fa-right-from-bracket d-block text-center" style="color: #de0843;"></i>
                        <a class="nav-link fw-semibold" id="logoutButton" style="color: #de0843; cursor: pointer;">
                            Keluar
                        </a>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>